<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finance Assignment</title>
    <style>
      .first {
        text-decoration: none;
        font-size: 25px;
        border: 2px;
        border-style:  dotted;
        border-radius: 15px;
        padding: 10px;
      }
      .anchor_tags {
        margin: 50px;
      }
    </style>
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    /> -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/superhero/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container" style="text-align: center; margin-top: 30px">
      <h1 style="font-size: 70px; margin-bottom: 80px">Calculating option price</h1>
      <div class="services">
        <div class="anchor_tags">
          <a href="/two_step" class="first"
            >Calculating option price using two step</a
          >
        </div>
        <div class="anchor_tags">
          <a href="/n_step" class="first"
            >Calculating option price using n step</a
          >
        </div>
        <div class="anchor_tags">
          <a href="/black_scholes" class="first"
            >Calculating option price using Black Scholes</a
          >
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
